* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #131516;
    --error: #FF5959;
    --font-family: 'Open Sans', sans-serif;
    --text: #C8CDD0;
    --text-heading: #F9F9F9;
    /* CORES */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
    /* Accent colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;
    /* INPUT */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    /* SHAPE */
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
}

label {
    color: var(--text);
}

body {
    overflow: hidden;
}

main {
    overflow-y: auto;
}

h1 {
    color: var(--text-heading);
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.81rem;
}

legend {
    color: var(--text-heading);
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

form {
    max-width: 40rem;
}