.contact .contact-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 3rem;

    & :nth-child(1) {
        width: 100%;
    }

    & :nth-child(2) {
        width: 46%;
    }

    & :nth-child(3) {
        width: 50%;
    }

    & .infos {
        display: grid;
        gap: 0.75rem;

        & input {
            display: flex;
            width: 100%;
            height: 3rem;
            padding: 0px 1rem;
            background-color: var(--input-base);
            border: 1px solid #363B40;
            border-radius: 0.5rem;
            color: var(--text);
        }
    }
    
}